html {
  min-height: 100%;
  background-image: url(./images/bryggan.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
p {
  font-family: "Lexend Deca";
  color: white;
}
h1 {
  display: none;
  font-family: "Lexend Deca";
  color: white;
  font-weight: normal;
  font-size: 60px;
  text-shadow: 2px 2px black;

  @media (min-width: 668px) {
    display: flex;
  }
}
.DeviceStyling {
  display: flex;
  flex-direction: column;

  @media (min-width: 668px) {
    flex-direction: row;
  }
}
